.DS_Store
.ipynb_checkpoints


#Ignore Below Directories
Exercises/
Envs/
Projects/NN_Mini_Project/
.github/
Projects/Lending_Club_Approval/notebooks

#Ignore virtual env
Projects/Lending_Club_Approval/.venv

# Ignore Feast Databases
*.db
.feast-test-server
Projects/Lending_Club_Approval/feature_repo/data/online_store.db
Projects/IMDB_Spoiler_Shield/notebooks
Projects/IMDB_Spoiler_Shield/data/
Projects/IMDB_Spoiler_Shield/.venv/

# Shopt Talk Project
#Projects/Shop_Talk_Assistant/notebooks/
Projects/Shop_Talk_Assistant/data/
