pandas
numpy
scikit-learn
torch
transformers
datasets
mlflow==2.14.1
apache-airflow==2.10.0
evidently>=0.4.0
nltk
psycopg2-binary
boto3
gdown
matplotlib
seaborn
wordcloud
tqdm
feast
redis
s3fs
xgboost
sentence-transformers
ray[default]
ray[tune]
ray[train]
accelerate
pyarrow